.header-content{
      justify-content: space-between !important;
      height: 80px !important;
}

.header-link{
      font-size: 18px;
      color: $bgWhite !important;
}

.header-logo{
      margin-top: 8px;
      font-size: 28px;
      color: $bgWhite;
}

.header-nav{
      margin-top: 8px;
}